</div>
<footer>
    <!-- <section id="contact" class="mt-5"> -->
    <section id="contact">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 white-links">
                <p class="footer-title">About Us</p>
                <ul>
                    <li>
                        <a href="/pages/about-us">About Our Shop</a>
                    </li>
                    <li>
                        <a href="/pages/contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="/pages/shipping-policy">Shipping Policy</a>
                    </li>
                    <li>
                        <a href="/pages/carrers">Carrers</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 white-links mb-2">
                <p class="footer-title">Follow Us</p>
                
                <a href="https://fb.com/nhancao.0901" target="_blank" a>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    Facebook
                </a>
                <a href="https://www.instagram.com/7.cnhere/" id="profile-link" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    Instagram
                </a>
                <a href="https://github.com/d7law" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    Github
                </a>
                <p class="footer-title">
                    <img src="/images/dLaw-logo-white.png" style="width: 128px; height: 128px; color: transparent;" alt="">
                </p>
            </div>

        </div>
    </section>

    <section class="bottom-footer">
        <div class="row">
            <div class="col-12 mr-auto">
                Đây là project môn Thương mại điện tử của sinh viên HUFLIT __(github.com/d7Law)
            </div>
        </div>
    </section>
</footer>
</div>

<script src="/js/main.js"></script>
</body>

</html>